<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChatApp</title>

    @* jQuery CDN *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @* Load SignalR from CDN *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.min.js" integrity="sha512-7SRCYIJtR6F8ocwW7UxW6wGKqbSyqREDbfCORCbGLatU0iugBLwyOXpzhkPyHIFdBO0K2VCu57fvP2Twgx1o2A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="~/signalr.js/jquery.signalr.js"></script>
    <script src="~/signalr.js/jquery.signalr.min.js"></script>

    @* Flowbite CSS *@
    <link href="~/lib/flowbite/flowbite.css" rel="stylesheet" />

    @* Site CSS *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ChatApp.styles.css" asp-append-version="true" />

    @* Flowbite JS *@
    <script src="~/lib/flowbite/flowbite.js"></script>
    <script src="~/lib/flowbite/flowbite.min.js"></script>

    @* jQuery Validation *@
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>

    @* Unobtrusive Ajax *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" integrity="sha512-DedNBWPF0hLGUPNbCYfj8qjlEnNE92Fqn7xd3Sscfu7ipy7Zu33unHdugqRD3c4Vj7/yLv+slqZhMls/4Oc7Zg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @* jQuery Unobtrusive Validation *@
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>

<body>
    @if (User.Identity!.IsAuthenticated)
    {
        <header>
            <nav class="bg-white shadow-md">
                <div class="container mx-auto px-4">
                    <div class="flex justify-between items-center py-4">
                        <a href="/" class="text-xl font-semibold text-gray-800">LocationTrack</a>
                        <button class="navbar-toggler text-gray-800" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="flex space-x-4">
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="Home" class="text-gray-700 hover:text-blue-500">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="/Privacy" class="text-gray-700 hover:text-blue-500">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a href="/Contact" class="text-gray-700 hover:text-blue-500">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ChatApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
